$blue: rgba(41, 113, 255, 1);
$orange: rgba(255, 114, 60, 1);
$black: rgba(14, 14, 55, 1);
$gray: rgba(64, 64, 92, 1);
$grey: rgba(171, 172, 180, 1);
$lightGrey: #F2F4F7;
$deepBlue: rgba(34, 94, 214, 1);

$ar-primary: $blue;
$ar-primary-active: $deepBlue;
$ar-warn: $orange;
$ar-title: $black;
$ar-main: $gray;
$ar-desc: $grey;
$ar-border: $lightGrey;
